.container {
    background-image: url(bellybutton.jpg);
    align-items: center;
    font-size: large;
    
}
h6{font-size: 18px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}

p {font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 
    Geneva, Verdana, sans-serif; color:ghostwhite;}

div.panel panel-primary{
    font-size: 18px;
}
h1 {font-weight: bold; color: rgb(89, 218, 63);}
.col-md-12{background-color: midnightblue;}
iframe { border-collapse: collapse;
   float: right;
}